<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel="icon" href="" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <meta charset="utf-8">
      <meta content="Descrição" name="description">
      <meta name="author" content="Bark 360">
      <meta name="keywords" content="a definir">
      <meta name="robots" content="INDEX, FOLLOW">
      <meta name="language" content="Portuguese">
      <meta name="country" content="Brazil">
      <meta name="copyright" content="Nome Institucional -  © 2017">
      <link rel='stylesheet' href='/css/style.css' />
      <link rel='stylesheet' href='/js/lib/slick-carousel/slick/slick.css' />
      <link rel='stylesheet' href='/js/lib/slick-carousel/slick/slick-theme.css' />
      <script type='text/javascript' src='/js/lib/jquery.min.js'></script>
      <script type='text/javascript' src='/js/lib/slick-carousel/slick/slick.min.js'></script>
      <script type='text/javascript' src='/js/script.js'></script>
   </head>
   <body>
      <header>
        <div style="background-color:#2f2f2f">
            <div class="container">
              <div class="row">
                <div class="col-12">
                    <div class="infTp">
                      <div>
                          <img src="/images/email.png" alt="Email" />
                          <p>comercial@citel.com.br</p>
                      </div>
                      <div>
                          <img src="/images/phone.png" alt="Telefone" />
                          <p>(13) 3224-1400</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 nav-hm">
              <a href="" title="">
                  <figure>
                    <img src="/images/bgCabecalho.png" alt="Logo" />
                  </figure>
              </a>
              <nav>
                  <ul>
                    <li>
                        <h2>
                          HOME
                        </h2>
                    </li>
                    <li>
                        <h2>
                          EMPRESA
                        </h2>
                    </li>
                    <li>
                        <h2>
                          ÁREAS DE ATUAÇÃO
                        </h2>
                    </li>
                    <li>
                        <h2>
                          CLIENTES
                        </h2>
                    </li>
                    <li>
                        <h2>
                          OPORTUNIDADES
                        </h2>
                    </li>
                    <li>
                        <h2>
                          CONTATOS
                        </h2>
                    </li>
                  </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <main>
         <section class="prf hsc">
            <h3>Teste</h3>
            <div>
               <ul class="carousel autoplay">
                  <li>
                     <!-- <figure>
                        <img src="/images/banner1.jpg" alt="Teste"/>
                        </figure> -->
                  </li>
                  <li>
                     <!-- <figure>
                        <img src="/images/banner2.jpg" alt="Teste"/>
                        </figure> -->
                  </li>
               </ul>
            </div>
         </section>
         <section class="hsc at">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <h3>Área de Atuação</h3>
                     <div>
                        <ul class="center carousel-at">
                           <li>
                              <a href="" title="">
                                 <div>
                                    <figure>
                                       <img src="/images/a1.png" alt="" />
                                    </figure>
                                    <h4>Elaboração de projetos elétricos</h4>
                                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos</p>
                                    <button>
                                       <h5>
                                          C O N F I R A
                                       </h5>
                                    </button>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="" title="">
                                 <div>
                                    <figure>
                                       <img src="/images/a2.png" alt="" />
                                    </figure>
                                    <h4>Elaboração de projetos elétricos</h4>
                                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos</p>
                                    <button>
                                       <h5>
                                          CONFIRA!
                                       </h5>
                                    </button>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="" title="">
                                 <div>
                                    <figure>
                                       <img src="/images/a3.png" alt="" />
                                    </figure>
                                    <h4>Elaboração de projetos elétricos</h4>
                                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos</p>
                                    <button>
                                       <h5>
                                          CONFIRA!
                                       </h5>
                                    </button>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="" title="">
                                 <div>
                                    <figure>
                                       <img src="/images/a4.png" alt="" />
                                    </figure>
                                    <h4>Elaboração de projetos elétricos</h4>
                                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos</p>
                                    <button>
                                       <h5>
                                          CONFIRA!
                                       </h5>
                                    </button>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="" title="">
                                 <div>
                                    <figure>
                                       <img src="/images/a1.png" alt="" />
                                    </figure>
                                    <h4>Elaboração de projetos elétricos</h4>
                                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos</p>
                                    <button>
                                       <h5>
                                          CONFIRA!
                                       </h5>
                                    </button>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="hsc nc">
            <div class="container">
              <div class="row">
                <div class="col-12">
                    <h3>
                      Nossos Clientes
                    </h3>                  
                </div>
              </div>
              <div class="row">
                  <div class="col-6">
                      <div class="ctn">
                        <h4>Vila Belmiro</h4>
                        <p>
                            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
                        </p>
                        <p>
                            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
                        </p>
                        <button>
                          <a href="" title="Veja mais">
                          +
                          </a>
                        </button>
                      </div>
                  </div>
                  <div class="col-6">
                      <div style="position:relative;display:table;float:right">
                        <figure>
                            <img src="/images/ponte.jpg" alt="Teste" />
                        </figure>
                        <span class="arrow"></span>
                        <button class="teste">
                          <a href="" title="">
                          veja +
                          </a>
                        </button>
                      </div>
                  </div>
              </div>
              <div class="row tp2">
                  <div class="col-6">
                      <div style="position:relative;display:table;float:left">
                        <figure>
                            <a href="" title="">
                                <img src="/images/vila.jpg" alt="Teste" />
                            </a>
                        </figure>
                        <span class="arrow"></span>
                        <button type="button" class="teste">
                          <a href="" title="">
                          veja +
                          </a>
                        </button>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="ctn">
                        <h4>Vila Belmiro</h4>
                        <p>
                            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
                        </p>
                        <p>
                            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
                        </p>
                        <button type="button">
                          <a href="" title="Veja mais">
                          +
                          </a>
                        </button>
                      </div>
                  </div>
              </div>
         </section>
         <section class="hsc ct">
           <div class="container">
             <div class="row">
               <div class="col-12">
                 <h3>
                   Oportunidades
                 </h3>
               </div>
             </div>
             <div class="col-12">
               <p>
                  A nossa mão de obra é formada por técnicos em eletrotecnica, oriunda de escolas técnicas de ensino profissionalizantes da região.
               </p>
               <p>
                  Dispomos de contratos de cooperação técnica, na forma de concessão de estágios, firmados com todas as escolas da baixada, de onde provém nossos estagiários, sendo o primeiro passo para ingressar na carreira profissional.
               </p>
               <p>
                Cadastre seu currículo para participar do nosso processo seletivo.
               </p>
               <button type="button">
                 <a href="" title="">
                   CADASTRAR 
                 </a>
               </button>
             </div>
           </div>
         </section>
         <section class="hsc ctf">
           <div class="container">
             <div class="row">
               <div>
                 <figure>
                   <img src="/images/cert.png" alt="" />
                 </figure>
                 <figure>
                    <img src="/images/cert2.png" alt="" />
                  </figure>
                  <figure>
                      <img src="/images/cert3.png" alt="" />
                    </figure>
               </div>
             </div>
             <div class="row">

             </div>
           </div>
         </section>
      </main>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <h2>
                  CITEL MONTAGENS<br>
                  ELÉTRICAS
              </h2>
              <address>
                <p>
                    R. Dr. Carvalho de Mendonça,<br>
                    73 - Encruzilhada - Santos/SP -<br>
                    CEP:11050-100.<br>
                    Fone: (13) 3224-1400.
                    
                </p>
              </address>
            </div>
            <div class="col-6">
                
            </div>
          </div>
        </div>
      </footer>
   </body>
</html>